@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/jspm_packages/system.js"></script>
    <script src="~/config.js"></script>

    <script>
        System.import("aurelia-bootstrapper");
    </script>

    <title>Index</title>
</head>
<body>
   <div>
       <h2>Aurelia Test</h2>
   </div>

    <div aurelia-app="main">

    </div>
   
    @*user's scripts*@
    @*<script src="~/Scripts/libs/pages/taskpage.js"></script>*@

</body>
</html>





